
  body {
      padding-top: 50px;
  }




  div.cover {
    background: url("img/cover.jpg");
  }
  div.coverbox0 {
    position: absolute;
    display: inline-block;
  }
  div.coverbox1 {
    padding: 14px 30px;
    margin: 2px;
    font-family: 'Quattrocento', serif;
    font-weight: bold;
    font-size: 2.3em;
    color: #493322;
    display: inline-block;
  }

  div.coverborder0 {
    border: 1px solid #493322;
  }
  div.coverborder1 {
    border: 8px solid #493322;
  }




  div.product {
    margin: 10px 0px;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    font-weight: bold;
    color: #AAAAAA
  }
  div.item {
    border-bottom: 1px solid #eee;
  }
  a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  div.item a div {
    line-height: 60px;
  }
  div.item a div.title {
    font-weight: bold;
  }

  div.item a div.description {
    /*font-weight: bold;*/
    font-size: 14px;
  }


  footer {
    margin-top: 70px;
    padding: 50px 0;
    text-align: center;
    background-color: #f2f2f2;
  }

  .footerul li {
    display: inline;
  }
  .footerul a {
    font-size: 18px;
    margin: 0 15px;
  }

  a:link {
    color: #513926;
  }
  a:visited {
    color: #513926;
  }
  a:hover {
    color: #7F593C;
  }


  /* unvisited link */
  a.aitem:link {
    color: #3F2C1E;
  }
  /* visited link */
  a.aitem:visited {
    color: #3F2C1E;
  }
  /* mouse over link */
  a.aitem:hover {
      color: #D39466;
  }
  /* selected link */
  /*a.aitem:active {
      color: #D39466;
  }*/




  .copyright {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    color: #696969;
  }

  ::selection {
    background: #303030;
    color: white;
  }

  @media screen and (max-width : 768px){
    div.product {
      padding-left: 15px;
      margin: 10px 0px;
      font-family: "Courier New", Courier, monospace;
      font-size: 20px;
      font-weight: bold;
      color: #AAAAAA
    }
    div.item a div.title {
      padding-left: 30px;
      font-weight: bold;
    }
  }
  @media screen and (max-width : 460px){
    div.coverborder0 {
      border: 0px solid black;
    }
    div.coverborder1 {
      border: 0px solid black;
    }
  }



  @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
  p.descriptionme {
    font-family: 'Nanum Gothic', serif;
    font-weight: 900;
    font-size: 13px;
    color: gray;
    padding: 0px 15px;
  }
  p.descriptionme a {
    font-size: 13px;
  }
  @media screen and (max-width : 768px){
    p.descriptionme {
      padding: 0px 30px;
    }
  }
